@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

* {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all 0.2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5.5rem;
}

.app-container {
    background: rgb(228, 219, 219);
}



header .app-header-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f3f6f9;
    padding: 2rem 3.5rem;
}
header .app-header-1 .logo {
    font-weight: bold;
    font-size: 2rem;
    color: #222;
    margin-left: 1.5rem;
    color: rgb(104, 10, 10);
}
.app-header-1 .logo i {
    margin-right: 1rem;
    color: rgb(104, 10, 10);
}

.app-header-1 input {
    width: 50rem;
    height: 4rem;
    padding: 0 1rem;
    border-radius: 0.5rem;

}
.app-header-1 .icons a {
    font-size: 1.7rem;
    color: #222;
    margin-right: 1.5rem;
}
header .app-header-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(104, 10, 10);
    padding: 2rem 3.5rem;
}
.app-header-2 .app-nav a {
    font-size: 1.7rem;
    color: white;
    margin: 0 2rem;
}
.app-header-2 .menu-flip #menu-bars {
    font-size: 1.7rem;
    color: white;
    margin-right: 1.5rem;
}