@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

:root {
    --purple: rgb(104, 10, 10);
    --black: #222;
    --genbg: rgb(228, 219, 219);
    --lightbg: #f5f5f5;
    --deepbg: #eee;
    --border: 0.1rem solid #eee;
    --bd-radius: 0.1rem;
    --box-shdow:  0 0.5rem 1rem rgba(0, 0, 0, 0.2);

}

* {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all 0.2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5.5rem;
}
html::-webkit-scrollbar {
    width: .2rem;
}
html::-webkit-scrollbar-track {
    background: var(--genbg);
}
html::-webkit-scrollbar-thumb {
    background: var(--purple);
    border-radius: 0.2rem;
}

.app-container {
    background: var(--genbg);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    z-index: 2000;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
}


header .app-header-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f3f6f9;
    padding: 2rem 3.5rem;
}
header .app-header-1 .logo {
    font-weight: bold;
    font-size: 2rem;
    color: #222;
    margin-left: 1.5rem;
    color: var(--purple);
}
.app-header-1 .logo i {
    margin-right: 1rem;
    color: var(--purple);
}

.app-header-1 .input-field {
    display: flex;
    width: 50rem;
    height: 4rem;
    position: relative;
}
.app-header-1 .input-field input {
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
    padding: 0 1rem;
    border-radius: 0.5rem;
    background: #eeefbc;
    box-shadow: inset 0 0 0.03rem 0.05rem rgba(0, 0, 0, 0.35);
    
}
.app-header-1 .input-field input:hover {
    border: 0.1rem solid var(--purple);
    background: #eee;
}
.app-header-1 .input-field input::placeholder {
    color: var(--purple);
}
.app-header-1 .input-field input:focus {
    border: 0.1rem solid var(--purple);
}
.app-header-1 .input-field label {
    color: var(--purple);
    cursor: pointer;
    font-size: 1.5rem;
    line-height: 2rem;
    height: 100%;
    width: 3rem;
    text-align: center;
    position: absolute;
    top: 25%;
    right: -5px;
    margin-right: 2.5rem;

}

.app-header-1 .icons a {
    font-size: 1.7rem;
    color: var(--black);
    margin-right: 1.5rem;
}
.app-header-1 .icons a:hover {
    font-size: 1.7rem;
    color: var(--purple) ;
    margin-right: 1.5rem;
}
header .app-header-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--purple);
    padding: 2rem 3.5rem;
}
.app-header-2 .app-nav a {
    font-size: 1.7rem;
    color: white;
    margin: 0 2rem;
}
.app-header-2 .app-nav a:active, .app-header-2 .app-nav a:hover {
    color: #eeefbc;
}
.app-header-2 .menu-flip #menu-bars {
    font-size: 1.7rem;
    color: white;
    margin-right: 1.5rem;
    border-radius: 2rem;
    cursor: pointer;
    display: none;
}


.home {
    background: var(--deepbg);
    padding: 0;
    /* padding-top: 20m; */
    margin-top: 18rem;
}
.home .home-slider .slide {
    background-color: #ccc;
    border: 0.1rem solid #e0e41b;

}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    flex-wrap: wrap;
}

.footer .box-container {
    display: grid;
    /* grid-template-columns: 250px 2fr auto 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(100, 1fr));
    gap: 1.5rem;
    margin-top: 2rem;
}
.footer .box-container .box {
    background: var(--genbg);
}
.footer .box-container .box span {
    font-size: 1rem;
    color: rgb(12, 2, 2);
    padding: 1rem 0;
}
.footer .box-container .box h3 {
    font-size: 1rem;
    color: rgb(12, 2, 2);
    padding: 1rem 0;
}
.footer .box-container .box h4 {
    font-size: .9rem;
    color: rgb(12, 2, 2);
    padding: 1rem 0;
}
.footer .box-container .box a {
    display: block;
    font-size: .8rem;
    color: #777;
    padding: .2rem 0;
}
.footer .box-container .box a:hover {
    color: #fff;
    background: #777;
}

.footer .box-container .box form input[type="email"] {
    width: 80%;
    height: 1.7rem;
    box-shadow: 0 .1rem .2rem rgba(0,0,0,0.2);
    background: #f6f6f6;
    padding: .5rem 1rem;
    font-size: .8rem;
    color: #222;
    margin: .5rem 0;
}
.footer .box-container .box form input[type="submit"] {
    display: block;
    margin-top: 1rem;
    box-shadow: 0 .1rem .2rem rgba(0,0,0,0.2);
    background: #ad8a8a;
    border-radius: .5rem;
    padding: .5rem 1rem;
    font-size: 1rem;
    color: #222;
    cursor: pointer;
    z-index: 2;
}
.footer .box-container .box form input[type="submit"]:hover {
    background: #222;
    color: #ad8a8a;
}
.footer .credit {
    text-align: center;
    padding: 1rem;
    padding-top: 2.5rem;
    margin-top: 2.5rem;
    font-size: 1.5rem;
    color: #222;

    position: absolute;
    bottom: 0;
    
}


@media (max-width: 991px) {
    html {
        font-size: 55%;
    }
    header {
        padding: 0;
    }
}
@media (max-width: 768px) {
    header .app-header-1 {
        display: block;
        text-align: center;
        /* margin: 2rem 0;
        margin-bottom: 0; */
    }
    
    .app-header-1 .input-field {
        width: 50rem;
        height: 4rem;
        position: relative;
        margin-bottom: 1.5rem;
    }
    .app-header-1 .input-field input {
        margin-top: 2rem;
        width: 100%;
        height: 100%;
        font-size: 1.6rem;
        padding: 0 1rem;
        border-radius: 0.5rem;
        background: #eeefbc;
        box-shadow: inset 0 0 0.03rem 0.05rem rgba(0, 0, 0, 0.35); 
    }

    .app-header-1 .input-field label {
        font-size: 1.3rem;
        line-height: 2rem;
        height: 100%;
        width: 3rem;
        text-align: center;
        position: absolute;
        top: 75%;
        right: -5px;
        margin-right: 2.5rem;
    }
    header .app-header-1 .icons {
        display: none;
    }
    .app-header-2 .menu-flip #menu-bars {
        display: inline-block;
    }
    .app-header-2 .app-nav {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: #eeefbc;
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        font-size: 1.7rem;
        color: white;
    }
    .app-header-2 .app-nav a {
        display: block;
        background: #222;
        padding: 1rem;
        font-size: 1.7rem;
        margin: 1rem 0;
        color: white;
        border-radius: 0.3rem;
    }
    .app-header-2 .app-nav a:hover {
        background: #38826e;
    }
    .app-header-2 .app-nav.active { 
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    } 
}